<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../css/blog.css">
</head><!-- END HEADER -->

<body><!-- START BODY-->

<div class="container-fluid">
  <div class="navbar navbar-default navbar-fluid" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Portfolio Site</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/blog">Blog <span class="sr-only">(current)</span></a></li>
        <li><a href="/projects">Projects <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/Serviox19" target="_blank"><img id="dropdown-icon" src="../images/github.ico">&nbsp&nbspGitHub</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.linkedin.com/in/servio-mora-b93972108" target="_blank"><img id="dropdown-icon" src="../images/linkedin.png">&nbsp&nbspLinkedIn</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://stackoverflow.com/users/5510691/serviox19?tab=profile" target="_blank"><img id="dropdown-icon" src="../images/stack.png">&nbsp&nbspStack</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://twitter.com/Sciypher" target="_blank"><img id="dropdown-icon" src="../images/twitter.png">&nbsp&nbspTwitter</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- END COLLAPSE NAVBAR -->
  </div><!-- END NAV -->
</div><!-- END CONTAINER -->


<div class="container-fluid" id="main-section">
  <div class="row">
    <h1>Welcome to My Blog!</h1>
  </div>
  <div class="row"><!-- ROW FOR EACH POST -->
    <div class="well">
      <article>
        <section class="blog-post">
          <section class="post-title">
            <h3>Experience with Coding Bootcamp</h3>
          </section>
          <section class="post-body">
            <p>Lorem ipsum dolor sit amet, pulvinar tortor pretium aenean, in placerat rhoncus pellentesque, in tellus sociis varius quis, vitae eu tincidunt enim. Faucibus nisl consequat aenean mauris, curabitur commodo nunc gravida faucibus. Non pharetra officia ipsum pretium, nulla vel porta urna urna, nascetur at ut diam, aliquam mi vitae purus. Leo massa elit aptent, cras ridiculus convallis magna. Tortor vitae penatibus leo, fames ac congue sed, ultrices wisi eveniet lectus eu, dui vel in enim.</p>
          </section>
          <section class="post-footer">
            <p><strong>Writen on December 2nd, 2015</strong></p>
          </section>
        </section><!-- END BLOG POST -->
      </article>
    </div><!-- END WELL -->
  </div><!-- END POST -->

  <div class="row">
    <div class="well">
      <article>
        <section class="blog-post">
          <section class="post-title">
            <h3>Getting Better at JavScript</h3>
          </section>
          <section class="post-body">
            <p>Lorem ipsum dolor sit amet, pulvinar tortor pretium aenean, in placerat rhoncus pellentesque, in tellus sociis varius quis, vitae eu tincidunt enim. Faucibus nisl consequat aenean mauris, curabitur commodo nunc gravida faucibus. Non pharetra officia ipsum pretium, nulla vel porta urna urna, nascetur at ut diam, aliquam mi vitae purus. Leo massa elit aptent, cras ridiculus convallis magna. Tortor vitae penatibus leo, fames ac congue sed, ultrices wisi eveniet lectus eu, dui vel in enim.</p>
          </section>
          <section class="post-footer">
            <p><strong>Written on December 5th, 2015</strong></p>
          </section>
        </section><!-- END BLOG POST -->
      </article>
    </div>
  </div>

  <div class="row">
    <div class="well">
      <article>
        <section class="blog-post">
          <section class="post-title">
            <h3>Traits Needed to Succeed In Software Development</h3>
          </section>
          <section class="post-body">
            <p>Lorem ipsum dolor sit amet, pulvinar tortor pretium aenean, in placerat rhoncus pellentesque, in tellus sociis varius quis, vitae eu tincidunt enim. Faucibus nisl consequat aenean mauris, curabitur commodo nunc gravida faucibus. Non pharetra officia ipsum pretium, nulla vel porta urna urna, nascetur at ut diam, aliquam mi vitae purus. Leo massa elit aptent, cras ridiculus convallis magna. Tortor vitae penatibus leo, fames ac congue sed, ultrices wisi eveniet lectus eu, dui vel in enim.</p>
          </section>
          <section class="post-footer">
            <p><strong>Written on December 8th, 2015</strong></p>
          </section>
        </section>
      </article>
    </div>
  </div>


</div><!-- END CONTAINER / MAIN SECTION -->



<!-- jQuery AND JavaScript-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- BootStrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>