/* NAVBAR */
nav {
  
}

.glyphicon  {
  font-size: 1.5em;
}


/* END NAVBAR */

/* BODY */

.first-row {
  padding-top: 50px;
}

.first-row h3 {
  text-align: center;
}

.pic-holder #github-click {
  text-align: center;
}




/* END BODY */